body {
  background-image: url("./images/background_red.jpeg");
  background-position: center;
  background-size: cover;
  color: #1533AD;
  background-color: #cccccc;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 250%;
 }

.about-me {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(255, 0, 0, 0.509);
  border-radius: 5em;
  margin: 5vw;
}

.about-me-image {
  max-width: 20vw;
  height: auto;
  margin: 3vw;
}

.about-me-desc {
  padding: 5vw;
  font-size: 2em;
}

.highlight {

}

.contact-me-image {
  width: 200px;
  height: auto;
}

.contact-me {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.509);
  border-radius: 5em;
  margin: 5vw;
  padding: 5vw;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5vw 5vw;
}

.project-image {
  max-width: 100%;
  height: auto;
}

.project-container {
  width: 25vw;
}

@media (max-width: 1200px) {
  .project-container {
    width: 40vw;
  }
}

@media (max-width: 600px) {
  .about-me {
    flex-wrap: wrap;
  }

  .contact-me {
    flex-wrap: wrap;
  }

  .project-container {
    width: 100vw;
  }
}
