.App {
  text-align: center;
}

img {
  width: 200px;
  height: auto;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 1200px) {
}

@media (max-width: 600px) {
  .center {
    flex-wrap: wrap;
  }
}
